.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.game_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.game_container img{
    width: 100px;
    height: 100px;
}

.game_container div{
    background: grey;
    cursor:pointer;
}

.results_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.dynamic_results{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#result{
    background: lightgreen;
    padding: 10px 20px 10px 20px;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}