.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.game_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.game_container img{
    width: 100px;
    height: 100px;
}

.game_container div{
    background: grey;
    cursor:pointer;
}